/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600');/*google font import*/
/* fælles design på alle sider*/
body{
	font-family: 'Montserrat', sans-serif;
	background-color: #F1F1F1;
	padding: 0; 
	margin: 0; 
}

/*Logo - forside*/
#logo{
	padding: 2%;
	width: 10%;
}

nav ul{ 
	list-style: none;
	margin: 0;
	padding: 0;
	float: right;
	width: 40%; 
	z-index: 40000;
	
}
nav ul li{
	list-style:none;
	display: inline-block;
	padding-right: 8%;

}
nav ul li a {
	text-decoration: none;
	color: black;
	font-weight: 300;
}
nav ul li a:hover{
	text-decoration: underline;
}
nav ul ul{
	display: none; 
	position: absolute;
}
nav ul li:hover >ul{
		display: block;
}

nav ul ul li{
	display: block;
 	padding-top: 1%
}
.aktuelside{
	text-decoration: line-through;
}
.myStyle{
	display: block;
}
button{
	display: none;
}
.fa-bars{
	display: none;
}
h1{
	color: #8E8E8C;
	font-size: 3em;
	padding: 2%;
	font-weight: 400;
	margin: 0;
}
h2{
	color: #8E8E8C;
	font-size: 2em;
	font-weight: 400;
	padding: 2%;
	margin:0;
}
h3 {
	color: #8E8E8C;
	font-weight: 300; 
	font-size: 30px;
	padding: 2%;
	margin:0;
}
h4{
	color: #8e8e8c; 
	font-weight: 300; 
	font-size:25px;
	padding: 2%;
	margin:0;
	
}
p{ 
	font-size:20px; 
	color: black;
	padding: 2%;
	margin: 0;
}
/* footer */
footer{
	height: 10vh;
	width: 100%;
	box-sizing: border-box;
	position: absolute;
		
}
#footercontent{
	box-sizing: border-box;
	height: 5vh;
	color: #000000;
    text-align: center;
	padding: 75px;
	
}
#footercontent a{
	height: 4vh;
	width: 4vh;
	color:#000000;
	border: thin solid black;
	border-radius: 100%;
	display: inline-block; 
	text-align: center; 
	padding: 1%;
	background-color: #FAFDFB;
}

#footercontent a i{
	font-size:35px;
	padding: 1%px;
}
/*  forside */ 
 /*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_hero_image + */
#header-container {
    width: 100%;
	height: 100vh;
}
#header {
	background-image: url(../img/desk.jpg); /* billede fra https://www.pexels.com/search/desk/*/ 
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    margin: auto;
}
/*Header på undersider*/
.header-containerunder{ 
	height: 5vh;
	padding: 0; 
	display: inline;
}
/* forside teks på billede*/
.hero-text {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: black;
	text-transform: uppercase; 
}
.hero-text h1{
	font-weight: 400;
	color: black;
}
.hero-text h3{
	font-weight: 300;
	color: black;
}
#mitarb{
	color: #8E8E8C; 
}
#mitarb h1{
	font-weight: 400;
	padding: 2%; 
}
#flowmenu ul li{
	list-style: none;
	padding-right: 4%; 
}

#flowmenu ul li a{
	text-decoration: none;
	display: inline-block;
	float: right;
	padding-left: 2%; 
	padding-bottom: 1%;
	color: #8E8E8C;
}
#flowmenu ul li a:hover{
	text-decoration: underline;
}
#fancyboks{
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
#fancyboks a{
	text-decoration: none;
}
.fancydiv{
	display: inline-flex;
	margin: 10 auto;	
}
.fancybokimg{
	max-height:240px;
	width: 20%;
	justify-content: center;
}
/*Egen projekter*/ 
main{
	height: auto;
}
#egneproj{
	width:100%; 
	padding-left: 10%; 
	margin: auto;
	display: inline;
}
#egneproj img{
	width: 40%;
}
/* Undersider */
.undersidecontainer{
	display: inline-flex;
	text-align:center;
	padding: 2%;
	margin: auto;
}
#knapper{
	width: 50%;
	float: left;
	padding-right:0;
}
a.button{
	height: 40px;
	font-size: 30px;
	font-weight: 200;
	background-color: #8e8e8c;
	border-radius: 50px;
	display: block;
	margin-bottom: 4%;
	text-decoration: none;
	color:#FAFDFB;
	width: 80%;
	text-align: center;
}
.imgcontainer{
	width: 50%;
	float: right;
}
.undersidebillede{
	width: 90%;
}
.udvikling{
	width: 60%;
	margin: auto;
	padding: 2%;
	background-color: #FAFDFB;
}
.udbillede{
	width: 100%;
}
.vejrapps{
	display: inline-flex;
}
.vejrapps iframe {
	justify-content: space-between;
}
/*Oversigt + Læring  sider*/

/* Slideshow container *//* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_slideshow_auto*/
.slideshow-container {
  max-width: 90%;
  position: relative;
  margin: auto;

}
/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.slidesimg {
	width: 100%;
	max-height:100vh;
}

/* Læring */
#ler{
	width: 60%;
	padding: 2%;
	margin: auto;
	background-color: #FAFDFB;
}
.lerbilled{
	
	width: 100%;
}
/*projekt oversigt side */
#oversigt {
	width:60%; 
	padding:2%; 
	margin: auto;
	background-color: #FAFDFB;
}
.flowlink{
	list-style: none;
	padding: 0;
}
/*kontakt */
main{
	margin: 2%;
}
#kontakt{
	background-color: #FAFDFB;
	width: 40%;
	text-align: center;
	margin: auto;
	padding: inherit;
}
/*hvem er jeg ? */
#content{
	display: inline-flex;
	padding: 2%;
	margin: auto;
	justify-content: space-between;
}
#hvem{
	width: 49%;
	background-color:#FAFDFB;
}
#mig{
	width: 49%;
}
#mig img {
	width: 100%;
}
/* cv */
#cv {
	margin: auto;
	padding: 0;
	width: 80%;
}
#cv h2{
	padding: 0;
	margin: 0%;
}
#cv h3{
	padding: 0;
	margin: 0;
}
.section{
	display: inline-flex;
	background-color:#FAFDFB;
	margin: 2%;
	width: 90%;
	align-content: flex-end;
}
.section p{
	padding-left: 4%;
}
.section div{
	padding: 1%;
}
.udlogo{
	max-height:100px;
	padding: 1%;
	width: 50%;
	float: right;
}
.p {
	width: 50%;
}
@media all and (max-width: 800px) {
	button{
		display: block;
		float: right;
		font-size: 20px;
	}
	.fa-bars{
		display: block;
		float: right;
		font-size: 20px;
	}
	
	nav{
		display: none;
	}
	nav ul li{
		display: block;
		border-bottom: 1px solid #8e8e8c;
	}
	nav ul li:last-child{
		border: none;
	}
	nav a{
		text-align: center;
	}
	/*Responsiv DD menu*/
	nav ul li:hover > ul{
	position: static;
	/*background-color: #F4BFF4;*/
	width: 100%;
	}
	/*projektsider */
	.undersidecontainer{
		display: block;
		padding: 2%;
	}
	.undersidebillede{
		display: none;
	}
	#knapper{
		width: 80%;
		margin-bottom: 10%;
	}
	a.button{
		width: 100%;
		font-size:20px;
	
	}
	.udvikling{
		width: 90%;
	}
	#ler{
		width: 90%;
	}
	#mig img {
	width: 80%;
	display: none;
}
	#hvem{
		width: 100%;
	}
	#mig{
		width: 0%;
	}
	.udlogo{
		display: none;
	}
	#oversigt{
		width: 90%;
	}
	#footercontent{
		display: none;
	}
}
@media all and (max-width: 1200px) {
	button{
		display: block;
		float: right;
		font-size: 20px;
	}
	.fa-bars{
		display: block;
		float: right;
		font-size: 20px;
	}
	
	nav{
		display: none;
	}
	nav ul li{
		display: block;
		border-bottom: 1px solid #8e8e8c;
	}
	nav ul li:last-child{
		border: none;
	}
	nav a{
		text-align: center;
	}
	/*Responsiv DD menu*/
	nav ul li:hover > ul{
	position: static;
	/*background-color: #F4BFF4;*/
	width: 100%;
	}
	/*projektsider */
	.undersidecontainer{
		display: block;
		padding: 2%;
	}
	.undersidebillede{
		display: none;
	}
	#knapper{
		width: 80%;
	}
	a.button{
		width: 100%;
	
	}
	.udvikling{
		width: 90%;
	}
	#ler{
		width: 90%;
	}
	#mig img {
	width: 80%;
}
	#oversigt{
		width: 90%;
	}
}